* {
    font-family: sans-serif;
}

button {
    all: unset;
    color: white;
    padding: 10px;
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}

input {
    all: unset;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
